body {
    font-family: 'Roboto', sans-serif;
}

.script-font {
    font-family: 'Great Vibes', cursive;
}

nav a {
    transition: color 0.3s ease;
}

nav a:hover {
    color: #FFD700;
}

.bg-overlay {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.card {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background: white;
    padding: 20px;
    text-align: center;
}

.button {
    background-color: #ff6f61;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background 0.3s;
}

.button:hover {
    background-color: #e65b50;
}

.transparent-div {
    background-color: rgba(255, 255, 255, 0.8); /* White with 80% opacity */
    color: black;
    padding: 1.5rem; /* Equivalent to p-6 */
    border-radius: 1rem; /* Equivalent to rounded-lg */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Equivalent to shadow-lg */
  }